.empty-div-top {
    color: transparent;
    width: 100%;
    height: 1vh;
    padding-bottom: 3vh;
}

.error-header-text {
    color: #f2f2f2;
    padding-top: 3vh;
    display:flex;
    justify-content: center;
}

.error-description-text {
    display: flex;
    color: #f2f2f2;
    justify-content: center;
}

.empty-div-bottom {
    color: transparent;
    width: 100%;
    height: 4vh;
    padding-top: 3vh;
}

@media screen and (max-width: 540px) {
    .error-header-text {
        padding-top: 5vh;
    }
}

@media screen and (max-width: 414px) {
    .error-header-text {
        padding-top: 5vh;
    }
}

@media screen and (max-width: 411px) {
    .error-header-text {
        padding-top: 5vh;
    }
}

@media screen and (max-width: 360px) {
    .error-header-text {
        padding-top: 6vh;
    }
}

@media screen and (max-width: 280px) {
    .error-header-text {
        font-size: small;
        padding-top: 6vh;
    }
    .error-description-text {
        font-size: small;
    }
}