<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="404.css">
    </head>
    <body>
        <header>
            <%- include('./Partials/Header.ejs') %> 
        </header>
        <main>
            <div class="empty-div-top">
            </div>
            <div class="error-text">
                <div class="error-header-text">
                    <h2>Error 404</h2>
                </div>
                <div class="error-description-text">
                    <p>Couldn't find the page you are looking for.</p>
                </div>
            </div>
            <div class="empty-div-bottom">
            </div>
        </main>
        <footer>
            <%- include('./Partials/BottomFooter.ejs') %>
        </footer>
    </body> 
</html>